 <section style="background: url({% static image %});height: 90vh;background: url({% static image %}) center / cover no-repeat;min-height: 400px;">
            <div class="container w-100 h-100">
                <div class="row h-100">
                    <div class="col-sm-7 col-lg-4 col-xl-6 text-center text-sm-start d-flex justify-content-center align-items-center">
                        <div style="max-width: 350px;">
                            <h1 class="display-2 text-uppercase fw-bold text-dark">Making therapy creative</h1>
                            <p class="fs-2 text-secondary my-3">Therapy can be a space of expression and creativity from our of deeper self</p><a class="btn btn-primary btn-lg me-2" role="button" href="/contact/">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>


