:root, [data-bs-theme=light] {
  --bs-primary: rgb(104,132,193);
  --bs-primary-rgb: 104,132,193;
  --bs-primary-text-emphasis: #2A354D;
  --bs-primary-bg-subtle: #E1E6F3;
  --bs-primary-border-subtle: #C3CEE6;
  --bs-secondary: rgb(253,234,223);
  --bs-secondary-rgb: 253,234,223;
  --bs-secondary-text-emphasis: #655E59;
  --bs-secondary-bg-subtle: #FFFBF9;
  --bs-secondary-border-subtle: #FEF7F2;
  --bs-success: rgb(105,193,156);
  --bs-success-rgb: 105,193,156;
  --bs-success-text-emphasis: #2A4D3E;
  --bs-success-bg-subtle: #E1F3EB;
  --bs-success-border-subtle: #C3E6D7;
  --bs-info: rgb(146,162,200);
  --bs-info-rgb: 146,162,200;
  --bs-info-text-emphasis: #3A4150;
  --bs-info-bg-subtle: #E9ECF4;
  --bs-info-border-subtle: #D3DAE9;
  --bs-warning: #c08369;
  --bs-warning-rgb: 192,131,105;
  --bs-warning-text-emphasis: #4D342A;
  --bs-warning-bg-subtle: #F2E6E1;
  --bs-warning-border-subtle: #E6CDC3;
  --bs-danger: #c06983;
  --bs-danger-rgb: 192,105,131;
  --bs-danger-text-emphasis: #4D2A34;
  --bs-danger-bg-subtle: #F2E1E6;
  --bs-danger-border-subtle: #E6C3CD;
  --bs-light: #e3e5ea;
  --bs-light-rgb: 227,229,234;
  --bs-light-text-emphasis: #5B5C5E;
  --bs-light-bg-subtle: #F9FAFB;
  --bs-light-border-subtle: #F4F5F7;
  --bs-dark: rgb(53,68,88);
  --bs-dark-rgb: 53,68,88;
  --bs-dark-text-emphasis: #151B23;
  --bs-dark-bg-subtle: #D7DADE;
  --bs-dark-border-subtle: #AEB4BC;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(104,132,193);
  --bs-btn-border-color: rgb(104,132,193);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7F96CA;
  --bs-btn-hover-border-color: #7790C7;
  --bs-btn-focus-shadow-rgb: 16,20,29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #869DCD;
  --bs-btn-active-border-color: #7790C7;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(104,132,193);
  --bs-btn-disabled-border-color: rgb(104,132,193);
}

.btn-outline-primary {
  --bs-btn-color: rgb(104,132,193);
  --bs-btn-border-color: rgb(104,132,193);
  --bs-btn-focus-shadow-rgb: 104,132,193;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(104,132,193);
  --bs-btn-hover-border-color: rgb(104,132,193);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(104,132,193);
  --bs-btn-active-border-color: rgb(104,132,193);
  --bs-btn-disabled-color: rgb(104,132,193);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(104,132,193);
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(253,234,223);
  --bs-btn-border-color: rgb(253,234,223);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FDEDE4;
  --bs-btn-hover-border-color: #FDECE2;
  --bs-btn-focus-shadow-rgb: 38,35,33;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FDEEE5;
  --bs-btn-active-border-color: #FDECE2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(253,234,223);
  --bs-btn-disabled-border-color: rgb(253,234,223);
}

.btn-outline-secondary {
  --bs-btn-color: rgb(253,234,223);
  --bs-btn-border-color: rgb(253,234,223);
  --bs-btn-focus-shadow-rgb: 253,234,223;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(253,234,223);
  --bs-btn-hover-border-color: rgb(253,234,223);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(253,234,223);
  --bs-btn-active-border-color: rgb(253,234,223);
  --bs-btn-disabled-color: rgb(253,234,223);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(253,234,223);
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(105,193,156);
  --bs-btn-border-color: rgb(105,193,156);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #80CAAB;
  --bs-btn-hover-border-color: #78C7A6;
  --bs-btn-focus-shadow-rgb: 16,29,23;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #87CDB0;
  --bs-btn-active-border-color: #78C7A6;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(105,193,156);
  --bs-btn-disabled-border-color: rgb(105,193,156);
}

.btn-outline-success {
  --bs-btn-color: rgb(105,193,156);
  --bs-btn-border-color: rgb(105,193,156);
  --bs-btn-focus-shadow-rgb: 105,193,156;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(105,193,156);
  --bs-btn-hover-border-color: rgb(105,193,156);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(105,193,156);
  --bs-btn-active-border-color: rgb(105,193,156);
  --bs-btn-disabled-color: rgb(105,193,156);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(105,193,156);
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(146,162,200);
  --bs-btn-border-color: rgb(146,162,200);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #A2B0D0;
  --bs-btn-hover-border-color: #9DABCE;
  --bs-btn-focus-shadow-rgb: 22,24,30;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A8B5D3;
  --bs-btn-active-border-color: #9DABCE;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(146,162,200);
  --bs-btn-disabled-border-color: rgb(146,162,200);
}

.btn-outline-info {
  --bs-btn-color: rgb(146,162,200);
  --bs-btn-border-color: rgb(146,162,200);
  --bs-btn-focus-shadow-rgb: 146,162,200;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(146,162,200);
  --bs-btn-hover-border-color: rgb(146,162,200);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(146,162,200);
  --bs-btn-active-border-color: rgb(146,162,200);
  --bs-btn-disabled-color: rgb(146,162,200);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(146,162,200);
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #c08369;
  --bs-btn-border-color: #c08369;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C99680;
  --bs-btn-hover-border-color: #C68F78;
  --bs-btn-focus-shadow-rgb: 29,20,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CD9C87;
  --bs-btn-active-border-color: #C68F78;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #c08369;
  --bs-btn-disabled-border-color: #c08369;
}

.btn-outline-warning {
  --bs-btn-color: #c08369;
  --bs-btn-border-color: #c08369;
  --bs-btn-focus-shadow-rgb: 192,131,105;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c08369;
  --bs-btn-hover-border-color: #c08369;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c08369;
  --bs-btn-active-border-color: #c08369;
  --bs-btn-disabled-color: #c08369;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c08369;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #c06983;
  --bs-btn-border-color: #c06983;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C98096;
  --bs-btn-hover-border-color: #C6788F;
  --bs-btn-focus-shadow-rgb: 29,16,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CD879C;
  --bs-btn-active-border-color: #C6788F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #c06983;
  --bs-btn-disabled-border-color: #c06983;
}

.btn-outline-danger {
  --bs-btn-color: #c06983;
  --bs-btn-border-color: #c06983;
  --bs-btn-focus-shadow-rgb: 192,105,131;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c06983;
  --bs-btn-hover-border-color: #c06983;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c06983;
  --bs-btn-active-border-color: #c06983;
  --bs-btn-disabled-color: #c06983;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c06983;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e3e5ea;
  --bs-btn-border-color: #e3e5ea;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C1C3C7;
  --bs-btn-hover-border-color: #B6B7BB;
  --bs-btn-focus-shadow-rgb: 34,34,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B6B7BB;
  --bs-btn-active-border-color: #AAACB0;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e3e5ea;
  --bs-btn-disabled-border-color: #e3e5ea;
}

.btn-outline-light {
  --bs-btn-color: #e3e5ea;
  --bs-btn-border-color: #e3e5ea;
  --bs-btn-focus-shadow-rgb: 227,229,234;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e3e5ea;
  --bs-btn-hover-border-color: #e3e5ea;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e3e5ea;
  --bs-btn-active-border-color: #e3e5ea;
  --bs-btn-disabled-color: #e3e5ea;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e3e5ea;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(53,68,88);
  --bs-btn-border-color: rgb(53,68,88);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2D3A4B;
  --bs-btn-hover-border-color: #2A3646;
  --bs-btn-focus-shadow-rgb: 225,227,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2A3646;
  --bs-btn-active-border-color: #283342;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(53,68,88);
  --bs-btn-disabled-border-color: rgb(53,68,88);
}

.btn-outline-dark {
  --bs-btn-color: rgb(53,68,88);
  --bs-btn-border-color: rgb(53,68,88);
  --bs-btn-focus-shadow-rgb: 53,68,88;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(53,68,88);
  --bs-btn-hover-border-color: rgb(53,68,88);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(53,68,88);
  --bs-btn-active-border-color: rgb(53,68,88);
  --bs-btn-disabled-color: rgb(53,68,88);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(53,68,88);
}

[data-bs-theme=dark] {
  --bs-primary: rgb(104,132,193);
  --bs-primary-rgb: 104,132,193;
  --bs-primary-text-emphasis: #A4B5DA;
  --bs-primary-bg-subtle: #151A27;
  --bs-primary-border-subtle: #3E4F74;
  --bs-secondary: rgb(253,234,223);
  --bs-secondary-rgb: 253,234,223;
  --bs-secondary-text-emphasis: #FEF2EC;
  --bs-secondary-bg-subtle: #332F2D;
  --bs-secondary-border-subtle: #988C86;
  --bs-success: rgb(105,193,156);
  --bs-success-rgb: 105,193,156;
  --bs-success-text-emphasis: #A5DAC4;
  --bs-success-bg-subtle: #15271F;
  --bs-success-border-subtle: #3F745E;
  --bs-info: rgb(146,162,200);
  --bs-info-rgb: 146,162,200;
  --bs-info-text-emphasis: #BEC7DE;
  --bs-info-bg-subtle: #1D2028;
  --bs-info-border-subtle: #586178;
  --bs-warning: #c08369;
  --bs-warning-rgb: 192,131,105;
  --bs-warning-text-emphasis: #D9B5A5;
  --bs-warning-bg-subtle: #261A15;
  --bs-warning-border-subtle: #734F3F;
  --bs-danger: #c06983;
  --bs-danger-rgb: 192,105,131;
  --bs-danger-text-emphasis: #D9A5B5;
  --bs-danger-bg-subtle: #26151A;
  --bs-danger-border-subtle: #733F4F;
  --bs-light: #e3e5ea;
  --bs-light-rgb: 227,229,234;
  --bs-light-text-emphasis: #EEEFF2;
  --bs-light-bg-subtle: #2D2E2F;
  --bs-light-border-subtle: #88898C;
  --bs-dark: rgb(53,68,88);
  --bs-dark-rgb: 53,68,88;
  --bs-dark-text-emphasis: #868F9B;
  --bs-dark-bg-subtle: #0B0E12;
  --bs-dark-border-subtle: #202935;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(104,132,193);
  --bs-btn-border-color: rgb(104,132,193);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7F96CA;
  --bs-btn-hover-border-color: #7790C7;
  --bs-btn-focus-shadow-rgb: 16,20,29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #869DCD;
  --bs-btn-active-border-color: #7790C7;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(104,132,193);
  --bs-btn-disabled-border-color: rgb(104,132,193);
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: rgb(104,132,193);
  --bs-btn-border-color: rgb(104,132,193);
  --bs-btn-focus-shadow-rgb: 104,132,193;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(104,132,193);
  --bs-btn-hover-border-color: rgb(104,132,193);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(104,132,193);
  --bs-btn-active-border-color: rgb(104,132,193);
  --bs-btn-disabled-color: rgb(104,132,193);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(104,132,193);
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(253,234,223);
  --bs-btn-border-color: rgb(253,234,223);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FDEDE4;
  --bs-btn-hover-border-color: #FDECE2;
  --bs-btn-focus-shadow-rgb: 38,35,33;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FDEEE5;
  --bs-btn-active-border-color: #FDECE2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(253,234,223);
  --bs-btn-disabled-border-color: rgb(253,234,223);
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: rgb(253,234,223);
  --bs-btn-border-color: rgb(253,234,223);
  --bs-btn-focus-shadow-rgb: 253,234,223;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(253,234,223);
  --bs-btn-hover-border-color: rgb(253,234,223);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(253,234,223);
  --bs-btn-active-border-color: rgb(253,234,223);
  --bs-btn-disabled-color: rgb(253,234,223);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(253,234,223);
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(105,193,156);
  --bs-btn-border-color: rgb(105,193,156);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #80CAAB;
  --bs-btn-hover-border-color: #78C7A6;
  --bs-btn-focus-shadow-rgb: 16,29,23;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #87CDB0;
  --bs-btn-active-border-color: #78C7A6;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(105,193,156);
  --bs-btn-disabled-border-color: rgb(105,193,156);
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: rgb(105,193,156);
  --bs-btn-border-color: rgb(105,193,156);
  --bs-btn-focus-shadow-rgb: 105,193,156;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(105,193,156);
  --bs-btn-hover-border-color: rgb(105,193,156);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(105,193,156);
  --bs-btn-active-border-color: rgb(105,193,156);
  --bs-btn-disabled-color: rgb(105,193,156);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(105,193,156);
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(146,162,200);
  --bs-btn-border-color: rgb(146,162,200);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #A2B0D0;
  --bs-btn-hover-border-color: #9DABCE;
  --bs-btn-focus-shadow-rgb: 22,24,30;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A8B5D3;
  --bs-btn-active-border-color: #9DABCE;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(146,162,200);
  --bs-btn-disabled-border-color: rgb(146,162,200);
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: rgb(146,162,200);
  --bs-btn-border-color: rgb(146,162,200);
  --bs-btn-focus-shadow-rgb: 146,162,200;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(146,162,200);
  --bs-btn-hover-border-color: rgb(146,162,200);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(146,162,200);
  --bs-btn-active-border-color: rgb(146,162,200);
  --bs-btn-disabled-color: rgb(146,162,200);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(146,162,200);
}

[data-bs-theme=dark] .btn-warning, .btn-warning[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #c08369;
  --bs-btn-border-color: #c08369;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C99680;
  --bs-btn-hover-border-color: #C68F78;
  --bs-btn-focus-shadow-rgb: 29,20,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CD9C87;
  --bs-btn-active-border-color: #C68F78;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #c08369;
  --bs-btn-disabled-border-color: #c08369;
}

[data-bs-theme=dark] .btn-outline-warning, .btn-outline-warning[data-bs-theme=dark] {
  --bs-btn-color: #c08369;
  --bs-btn-border-color: #c08369;
  --bs-btn-focus-shadow-rgb: 192,131,105;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c08369;
  --bs-btn-hover-border-color: #c08369;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c08369;
  --bs-btn-active-border-color: #c08369;
  --bs-btn-disabled-color: #c08369;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c08369;
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #c06983;
  --bs-btn-border-color: #c06983;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C98096;
  --bs-btn-hover-border-color: #C6788F;
  --bs-btn-focus-shadow-rgb: 29,16,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CD879C;
  --bs-btn-active-border-color: #C6788F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #c06983;
  --bs-btn-disabled-border-color: #c06983;
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: #c06983;
  --bs-btn-border-color: #c06983;
  --bs-btn-focus-shadow-rgb: 192,105,131;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c06983;
  --bs-btn-hover-border-color: #c06983;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c06983;
  --bs-btn-active-border-color: #c06983;
  --bs-btn-disabled-color: #c06983;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c06983;
}

[data-bs-theme=dark] .btn-light, .btn-light[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e3e5ea;
  --bs-btn-border-color: #e3e5ea;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C1C3C7;
  --bs-btn-hover-border-color: #B6B7BB;
  --bs-btn-focus-shadow-rgb: 34,34,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B6B7BB;
  --bs-btn-active-border-color: #AAACB0;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e3e5ea;
  --bs-btn-disabled-border-color: #e3e5ea;
}

[data-bs-theme=dark] .btn-outline-light, .btn-outline-light[data-bs-theme=dark] {
  --bs-btn-color: #e3e5ea;
  --bs-btn-border-color: #e3e5ea;
  --bs-btn-focus-shadow-rgb: 227,229,234;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e3e5ea;
  --bs-btn-hover-border-color: #e3e5ea;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e3e5ea;
  --bs-btn-active-border-color: #e3e5ea;
  --bs-btn-disabled-color: #e3e5ea;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e3e5ea;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(53,68,88);
  --bs-btn-border-color: rgb(53,68,88);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2D3A4B;
  --bs-btn-hover-border-color: #2A3646;
  --bs-btn-focus-shadow-rgb: 225,227,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2A3646;
  --bs-btn-active-border-color: #283342;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(53,68,88);
  --bs-btn-disabled-border-color: rgb(53,68,88);
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: rgb(53,68,88);
  --bs-btn-border-color: rgb(53,68,88);
  --bs-btn-focus-shadow-rgb: 53,68,88;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(53,68,88);
  --bs-btn-hover-border-color: rgb(53,68,88);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(53,68,88);
  --bs-btn-active-border-color: rgb(53,68,88);
  --bs-btn-disabled-color: rgb(53,68,88);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(53,68,88);
}

