{% extends 'coltrane/base.html' %}
{% load static %}

{% block body %}

<div class="card col-11 col-lg-8 mx-auto my-3 bg-white-green ">
    <h4 class="card-header display-3 bg-gray-green text-primary">{{title|title}}</h4>

    {% if image %}
    <div class="container-fluid col-4 mx-auto mt-2"     style-"max-height:10%;"    >
    <img class="card-img-top rounded" src="{% static image %}" 
    alt="{title}"
    /> </div>
    {% endif%}
    <div class="card-body col-10 mx-auto">
{% block content%}
<div class="container ">
{{content}}    
</div>

{% endblock content %}

{% endblock body%}

</div>
</div>

