{% extends 'coltrane/base.html' %}
{% load static %}
{% comment %} This one adds a nav on the top of about {% endcomment %}

{% block intro %}

{% directory_contents  request|parent order_by='order' as links %}


<ul class="nav nav-tabs col-12 col-md-10 mx-auto">

{% for link in links %}
    <li class="nav-item">
      <a class="nav-link
      {% if request.slug == link.slug %}
        active
       {% endif %} 
      "
      {% if parent in link.slug %}
      aria-current="page"
      {% endif %}
      href="/{{link.slug}}/">{{link.title|title}}</a>
    </li>
      {% endfor %}
      </ul>

{% endblock intro %}

{% block wrapper%}

<div class="card bg-white-green col-12 col-md-10 mx-auto mb-2">

<h4 class="card-header display-3 bg-gray-green text-dark">{{title|title}}</h4>

    {% if image %}
    <div class="container-fluid col-4 mx-auto mt-2"     style-"max-height:10%;">
    <img class="card-img-top rounded" src="{% static image %}" 
    alt="{title}"
    /> </div>
    {% endif%}
    <div class="card-body col-10 mx-auto">
{% block content%}
<div class="container ">
{{content}}    
</div>

{% endblock content %}

</div>

{% endblock wrapper %}

{% block action %}


{% endblock action%}