{% extends 'coltrane/base.html' %}
{% load static %}


{% block body%}

<div class="cover-container d-flex w-100 h-100 mx-auto flex-column mb-2"
    style="background-image:url({% static 'images/gsoler.jpg' %});
    background-position:center;
    background-size:cover;
    ">
  
    <main class="px-3 ms-4 my-auto text-primary">
      <h1>Making Therapy Creative</h1>
      <p class="lead">
        <a href="#creativity" class="btn btn-lg btn-secondary fw-bold border-primary bg-primary">Learn more</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p>Check out <a href='creatherapy.com'>CreaTherapy</a></p>
    </footer>
  </div>

    {% block content%}
    {% endblock content%}

    
{%endblock body%}
