{% extends "coltrane/base.html" %}
{% load static %}


{% block intro %}

<div class="cover-container d-flex mx-auto flex-column mb-2"
    style="
    background-image:url({% static image %});
    background-position:center;
    background-size:cover;
    height:90vh;
    min-height:400px;
    z-index:10;"
    id="headshot">
  
    <main class="px-3 ms-4 my-auto text-primary">
      <h1 id="landing-text">Making Therapy Creative</h1>
      <p class="lead">
        <a href="/about/contact/" class="btn btn-lg btn-secondary fw-bold border-primary bg-primary">Contact Me</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p>Check out <a href="https://crea-therapy.com/">CreaTherapy</a></p>
    </footer>
  </div>

    {% endblock intro %}
{% block content%}
    
{%endblock content %}


