@view-transition {
    navigation: auto;
  }


.bg-card {
    background-image: var(--bs-gradient);
    background-color: lighter(primary);

}

.bg-card:hover {
    background-image: var(--bs-gradient);

}

.bg-white-green {
    background-color: rgb(243, 245, 246);
}

.bg-gray-green {
    background-color: rgb(149, 183, 200);
}

blockquote {
    background-color: rgb(168, 206, 225);
    border-left: 0.5rem solid rgb(67, 82, 82);
    padding:0.5rem;
    margin-left: 2%;
}

.artifika-regular {
  font-family: "Artifika", serif;
  font-weight: 400;
  font-style: normal;
}